* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background: hsl(180, 52%, 96%);
}

.nav-bar {
  min-height: 15vh;
  width: 100%;
  background: url("../assets/bg-header-desktop.svg") center/cover no-repeat;
  background-color: hsl(180, 29%, 50%);
}

.main {
  height: 100vh;
  padding: 40px 80px;
}

.count {
  font-weight: bold;
  text-align: center;
  color: hsl(180, 29%, 50%);
}
.main__cards {
  margin-top: 20px;
}

.card-item {
  position: relative;
  width: 100%;
  min-height: 10vh;
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.card-item img {
  height: 100%;
}

.card-details {
  position: absolute;
  width: 100%;
  top: 0;
  /* left: 120px; */
  background-color: blue;
}

.left-details {
  position: absolute;
  top: 30px;
  left: 130px;
}

.right-details {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
}

.top {
  color: hsl(180, 29%, 50%);
  margin: 5px 0;
}

.middle {
  color: hsl(180, 29%, 50%);
  margin: 5px 0;
  font-weight: bold;
}
.bottom {
  color: grey;
  margin: 5px 0;
}

.company-name {
}
.new,
.featured {
  margin: 0 5px;
  color: #fff;
  text-transform: uppercase;
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
.new {
  background: hsl(180, 8%, 52%);
}
.featured {
  background: #222;
}

.role,
.level,
.languages {
  width: 60px;
  height: 30px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 5px;
  margin: 0 10px;
  color: hsl(180, 29%, 50%);
  background: hsl(180, 31%, 95%);
}
.level:hover {
  color: #fff;
  background: hsl(180, 29%, 50%);
}
.role {
  width: 80px;
  padding: 5px 10px;
  border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
}
